<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.veneto.arpa"
    android:versionCode="3"
    android:versionName="1.2" >
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
   	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
   
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="it.veneto.arpa.view.DetailedWidgetConfiguration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="it.veneto.arpa.view.SimpleWidgetConfiguration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="it.veneto.arpa.view.Provinces">
        </activity>
        
        <activity
            android:name="it.veneto.arpa.view.Cities">
        </activity>
        
        <service 
            android:name= "it.veneto.arpa.controller.GeolocationService">
        </service>
        
        <receiver android:name=".view.DetailedWidgetProvider"
            android:label="@string/label_detailed">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />         
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/detailed_widget_info" />
        </receiver>
        
        <receiver android:name=".view.SimpleWidgetProvider"
            android:label="@string/label_simple">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="it.veneto.arpa.view.DetailedWidgetProvider.updateMidnight" />         
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget_info" />
        </receiver>
        
    </application>

</manifest>